---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
	(a, b) =>
		new Date(b.frontmatter.pubDate).valueOf() -
		new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body class="flex flex-col w-full selection:bg-yellow-600 p-12">
		<div class="w-[300px] flex justify-center m-auto mt-12">
			<Header />
		</div>
		<main
			class="flex sm:flex-row m-auto sm:mt-12 mt-0 flex-col-reverse h-full justify-self-center"
		>
			<content>
				<ul>
					{
						posts.map((post) => (
							<li>
								<time datetime={post.frontmatter.pubDate}>
									{new Date(
										post.frontmatter.pubDate
									).toLocaleDateString("en-us", {
										year: "numeric",
										month: "short",
										day: "numeric",
									})}
								</time>
								<a href={post.url}>{post.frontmatter.title}</a>
							</li>
						))
					}
				</ul>
			</content>
		</main>
	</body>
</html>
