---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Card from '../components/Card.astro';
import '@fontsource/cardo';

const about_myself_content: string = "Servus"
const about_myself_title: string = "An alle die das hier lesen. Hier findet ihr  eine Sammlung an (hoffentlich) interessanten Sachen bezueglich Programmiersprachen und Computer Science ueber die" +
	" ich im Laufe meiner letzten Zeit als Entwickler gestossen bin, erklaert (wie soll's auch anders sein) im Wiener Scharm."

const title_2: string = "Experience"
const title_3: string = "Ausserhalb von tech"

const content_2: string = ""
const content_3: string = "Alle Bilder die ihr hier findet sind von mir und zeigen einen kleinen Ausschnitt aus meinem Leben. "
const title_4: string = "Kontakt"

const image_src: string = "/images/mainimage.png"
---
 
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
		</style>
	</head>

	<body class="flex flex-col md:w-full w-fit px-5">
		<div class="w-[300px] flex justify-center m-auto mt-10">
			<Header></Header>
		</div>
		<main class="flex sm:flex-row m-auto sm:mt-0 mt-0 flex-col-reverse h-full justify-self-center">
			<div class="flex sm:w-[500px] w-full mr-24 flex-col  divide-y divide-solid">
				<br>
				<Card title={about_myself_content} content={about_myself_title}></Card>
				<Card title={title_3} content={content_3}></Card>
				<div class="pb-6">
					<h1 class="uppercase py-3 font-bold underline" style="font-size: 11px;">{title_4}</h1>
					<p class="  sm:pl-24 pl-0" style="font-size: 14px;">
						E-mail: magesthomas@gmail.com
					</p>
					<p class=" sm:pl-24 pl-0" style="font-size: 14px;">
						LinkedIn: <a href="https://www.linkedin.com/in/thomas-mages-680b12172/">Thomas Mages</a>
					</p>
				</div>
				

				
			</div>
			<div class="flex  flex-col">
				<br>
				<img src={image_src} width="800px" class="object-contain"/>
			</div>
		</main>
	</body>
</html>
