---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Card from '../components/Card.astro';

const about_myself_title: string = "Hi, I'm Thomas, previous Fullstack Engineer (FireStart), where we developed a new cloud-first business process management suite. I also study Computer Science at TU Vienna and spend much of my free time learning about computers, programming languages and more. I have experience in .NET Core, Angular, and Rust the last of which I am most passionate about."
const about_myself_content: string = "A little bit about myself"

const title_2: string = "Why am I doing this?"
const title_3: string = "Appart from tech"

const content_2: string = "Following peoples tech-joruney and learning at the same time is a thing I've always enjoyed. So I thought, \"Hey, why not share my journey?\". If you ever find my *future* posts interesting or helpful, feel free to contact me via Twitter, Email, or whatever and leave your feedback there! Always appreciate a second opinion."
const content_3: string = "I'm a passionate powerlifter and try to travel as much as I can. I know pretty basic but hey at least it's something."
const title_4: string = "Contact"

const image_src: string = "/images/mainimage.jpg"
---
 
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="flex flex-col w-full selection:bg-yellow-600 p-12">
		<div class="w-[300px] flex justify-center m-auto mt-12">
			<Header></Header>
		</div>
		<main class="flex sm:flex-row m-auto sm:mt-12 mt-0 flex-col-reverse h-full justify-self-center">
			<div class="flex sm:w-[500px] w-full mr-24 flex-col divide-y divide-solid divide-white-100">
				<br>
				<Card title={about_myself_content} content={about_myself_title}></Card>
				<br>
				<Card title={title_2} content={content_2}></Card>
				<br>
				<Card title={title_3} content={content_3}></Card>
				<br>
				<div class="pb-6">
					<h1 class="uppercase py-3 font-bold text-yellow-500" style="font-size: 11px;">{title_4}</h1>
					<p class="font-cardo text-gray-100 sm:pl-24 pl-0" style="font-size: 14px;">
						E-mail: magesthomas@gmail.com
					</p>
					<p class="font-cardo text-gray-100 sm:pl-24 pl-0" style="font-size: 14px;">
						LinkedIn: <a href="https://www.linkedin.com/in/thomas-mages-680b12172/">Thomas Mages</a>
					</p>
					<p class="font-cardo text-gray-100 sm:pl-24 pl-0" style="font-size: 14px;">
						<a href="/ThomasMages_CV_EN.pdf" target="_blank">Resumé</a>
					</p>
				</div>
				

				
			</div>
			<div class="flex drop-shadow-2xl flex-col">
				<img src={image_src} class="object-contain"/>
			</div>
		</main>
	</body>
</html>
