---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
import Card from '../components/Card.astro';
import '@fontsource/cardo';
import Footer from "../components/Footer.astro";
import {getCollection} from 'astro:content';
import '../styles/global.scss';
import HeaderLink from "../components/HeaderLink.astro";

const posts = (await getCollection('blog')).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
const about_myself_content: string = "Servus"
const about_myself_title: string = "My main interests at the moment range from compilers and\n" +
    "all things performance to software verification and different logics. I also do a lot of research about the intricacies of\n" +
    "the Rust programming language in my free time and at uni. I'm currently pursing a Masters degree in " +
    "Logic and Computation at TU Wien(Techical University of Vienna)"
const title_2: string = "Ueber mich"
const title_3: string = "Ausserhalb von tech"

const content_2: string = "Ich beschaeftige mich seit ich 14 bin mit Computern und Programmieren und hab in den letzten Jahren einiges an Erfahrung als sowohl Entwickler, Architekt und TA gesammelt. Ich brenne dafuer neue Sachen zu lernen und lieb's mich bei neuen Sachen zu verlaufen und technisch in die Tiefe zu gehen. Ausserdem studiere ich an der TU Wien Logic and Computation."
const content_3: string = "Sport ist mein ausgleich zu all dem Wahnsinn hier. Von Kraftdreikampf zu JiuJitsu. Alles mit dabei. Ausserdem sind alle Bilder die ihr hier findet sind von mir und zeigen einen kleinen Ausschnitt aus meinem Leben. "
const title_4: string = "Kontakt"

const image_src: string = "/images/mainimage.png"
---

<!DOCTYPE html>
<html lang="en-us">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
    <style>
        @font-face {
            font-family: 'Berkeley Mono';
            src: url('/fonts/BerkeleyMono-Regular.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }
        html.dark div {
            border-color: rgba(142, 142, 142, 0.45);
        }
    </style>
</head>

<body class="flex sm:h-[100vh] overflow-scroll h-full w-full flex-col md:w-full content-center sm:px-0">
<main class="flex sm:flex-row  w-full m-auto sm:mt-0 mt-0  justify-center sm:items-start h-full justify-self-center">
    <div class="flex sm:w-1/5 h-full self-center w-full items-center flex-col">
        <div class="w-full">
            <Header></Header>
        </div>
        <div class="sm:mt-10  flex flex-col border-black border-x border-b w-full  items-stretch justify-evenly">
            <Card title={about_myself_content} content={about_myself_title}></Card>
        </div>
        <div class="sm:w-[100%] flex flex-col  min-h-1/3 border justify-center internal-links  mt-10 font-jetbrains  md:text-[1rem] border-l border-t border-r border-b border-black text-sm p-4 font-extrabold items-center" >
            <div class="flex w-full">

            <HeaderLink class="no-underline" href="/">~</HeaderLink>
            <HeaderLink >/</HeaderLink>
            <HeaderLink>about</HeaderLink>
            <HeaderLink class="mr-2" >$</HeaderLink>
            <HeaderLink >ls </HeaderLink>

            </div>

            <div class="flex w-full">

            <HeaderLink class="mr-2 hover:underline font-extrabold" target="_blank" href="ThomasMages_CV.pdf">Resume</HeaderLink>
            <HeaderLink class="mr-2 hover:underline" target="_blank" href="https://www.linkedin.com/in/thomas-mages-680b12172/">LinkedIn</HeaderLink>
            <HeaderLink class="mr-2 hover:underline"  href="https://github.com/domaschh" target="_blank">GitHub</HeaderLink>
            <a href="mailto:magesthomas@gmail.com" class="  hover:underline text-sm decoration-0"
               target="_blank">email</a>
            </div>


        </div>
    </div>
</main>
</body>
</html>
