---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Card from '../components/Card.astro';
import '@fontsource/cardo';
import Footer from "../components/Footer.astro";

const about_myself_content: string = "Servus"
const about_myself_title: string = "An alle die das hier lesen. Hier findet ihr  eine Sammlung an (hoffentlich) interessanten Sachen bezueglich Programmiersprachen und Computer Science ueber die" +
	" ich im Laufe meiner letzten Zeit als Entwickler gestossen bin, erklaert (wie soll's auch anders sein) im Wiener Charme. "

const title_2: string = "Ueber mich"
const title_3: string = "Ausserhalb von tech"

const content_2: string = "Ich beschaeftige mich seit ich 14 bin mit Computern und Programmieren und hab in den letzten 6 Jahren einiges an Erfahrung in mehreren Projekten als Entwickler und Architekt und Tutor gesammelt. Gleichzeitig studiere ich an der TU Wien Logic and Computation."
const content_3: string = "Alle Bilder die ihr hier findet sind von mir und zeigen einen kleinen Ausschnitt aus meinem Leben. "
const title_4: string = "Kontakt"

const image_src: string = "/images/mainimage.png"
---
 
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
		</style>
	</head>

	<body class="flex h-[100vh] flex-col md:w-full content-center w-fit px-5">
		<div class="w-[300px] flex justify-center m-auto mt-10">
			<Header></Header>
		</div>
		<main class="flex gap-10 sm:flex-row sm:w-2/3 w-full m-auto sm:mt-0 mt-0 flex-col-reverse items-center sm:items-start h-full justify-self-center">
			<div class="flex sm:w-[500px] sm:w-1/2 flex-col  divide-y divide-solid">
				<br>
				<Card title={about_myself_content} content={about_myself_title}></Card>
				<Card title={title_2} content={content_2}></Card>
				<Card title={title_3} content={content_3}></Card>
				<div class="pb-6">
					<h1 class="uppercase py-3 font-bold underline" style="font-size: 11px;">{title_4}</h1>
					<p class="hover:underline sm:pl-12 pl-0" style="font-size: 14px;">
						<a href="mailto:magesthomas@gmail.com" class="hover:underline" target="_blank">magesthomas@gmail.com</a>
					</p>
					<p class=" sm:pl-12 pl-0" style="font-size: 14px;">
						<a href="/public/ThomasMages_CV.pdf" class="hover:underline" target="_blank">Résumé</a>
					</p>
				</div>
			</div>
			<div class="flex sm:w-1/2 flex-col">
				<br>
				<img src={image_src} width="800px" class="object-contain"/>
			</div>
		</main>
	</body>
	<Footer></Footer>
</html>
