---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import '@fontsource/cardo';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, tag } = Astro.props;
---

<html lang="en">
<head>
	<BaseHead title={title} description={description} />
	<style is:global>
		main {
			width: calc(100%);
			max-width: 100%;
			margin: 0;
		}

		 h1 {
			 font-size: 40px!important;
			 font-weight: bold!important;
			 padding-bottom: 5px;
			 padding-top: 5px;
		 }
		 h2 {
			 font-size: 30px!important;
			 padding-top: 5px;
			 font-weight: bold!important;
			 padding-bottom: 5px;
		 }
		 h3 {
			 padding-top: 5px;
			 font-size: 25px !important;
			 padding-bottom: 5px;
		 }
		 h4 {
			 padding-top: 5px;
			 font-size: 20px!important;
			 padding-bottom: 5px;
		 }
		 p {
			 padding-top: 5px;
			font-family: Helvetica;
		}
		 li {
			font-family: Helvetica;
		}
		 mark {
			 background-color: rgba(234, 179, 8, 0.50);
			 padding: 2px;
			 border-radius: 2px;
		 }
		.hero-image {
			width: 100%;
		}
		.hero-image img {
			display: block;
			margin: 0 auto;
			-radius: 12px;
			box-shadow: var(--box-shadow);
		}
		.prose {
			width: 720px;
			max-width: calc(100% - 2em);
			margin: auto;
		}
		.title {
			margin-bottom: 1em;
			padding: 1em 0;
			text-align: center;
			line-height: 1;
		}
		.title h1 {
			font-size: 50px;
			margin: 0 0 0.5em 0;
		}
		.date {
			margin-bottom: 0.5em;
		}
		.last-updated-on {
			font-style: italic;
		}
	</style>
</head>

<body class="flex items-center flex-col w-full selection:bg-yellow-600 p-12">
<div class="w-[300px] flex justify-center m-auto mt-10">
	<Header></Header>
</div>
<main>
	<article>
		<div class="hero-image">
			{heroImage && <img width={1000}  src={heroImage} alt="" />}
		</div>
		<div class="prose">
			<div class="title">
				<div class="date">
					<FormattedDate date={pubDate} />
					{
						updatedDate && (
							<div class="last-updated-on">
								Last updated on <FormattedDate date={updatedDate} />
							</div>
						)
					}
				</div>
				<h1>{title}</h1>
				<hr />
			</div>
			<slot />
		</div>
	</article>
</main>
<Footer />
</body>
</html>
